@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Archivo+Black');


/*

    GENERAL

*/

html {
    color: #222;
    font-size: 62.5%;
    line-height: 1.4;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

html * {
    font-size: 1.4rem;
}

h1 {
    font-size: 3.5rem;
}

.browserupgrade {
    margin:0;
    background: #ccc;
    color: #000;
    padding:0;
    position: absolute;
    height:100%;
    width:100%;
    z-index: 999999;
}

.uppercase {
    text-transform: uppercase;
}

.no-padding {
    padding: 0;
}


/*

    HEADER

*/

header.grid__wrapper {
    height: 84px;
    padding-top: 12px;
}

header div {
    height: 100%;
}

header img {
    height: 60px;
}

header #header-bars button {
    background: url('../assets/img/bars.png') center no-repeat;
    outline: none;
    border: none;
    height: 40px;
    width: 40px;
}

header #header-bars {
    position: absolute;
    top: 17px;
    right: 10px;
}

@media (min-width: 1141px) {
    header.grid__wrapper {
        height: 64px;
        padding-top: 0;
    }


    header #header-bars button {
        background: url('../assets/img/bars.png') center no-repeat;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


    header #header-bars {
        height: 100%;
        position: relative;
        top: 0;
        right: 0;
    }
}

/*

    NAV

*/

body > nav {
    z-index: 100;
    position: absolute;
    top: 84px;
    right: 0;
    display: none;
    font-size: 2.5rem;
    background-color: rgba(235,235,235, 0.96);
    width: 100%;
}

body > nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}

body > nav ul li a {
    text-decoration: none;
    color: #000;
    width: 100%;
    padding: 20px;
    display: block;
    font-size: 2rem;
    text-align: center;
}


@media (min-width: 1141px) {

    body > nav {

        left: 0;
        height: auto;
        top: 64px;
    }

    body > nav ul li a:hover {
        color: #f7fcff;
        background-color: #dadada;
    }

}

/*

    FOOTER

*/

footer {
    background-color: #2e2e2e;
}

footer img {
    display: none;
}

footer nav ul {
    margin: 0;
    padding: 0;
}

footer nav ul li{
    list-style: none;
    text-align: center;
}

footer nav ul li a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #b5b5b5;
    line-height: 30px;
}

footer .icons-menu ul {
    text-align: center;
}

footer .icons-menu ul li {
    display: inline-block;
    padding: 0 10px;
}

@media (min-width: 1141px) {


    footer .grid__row {
        padding: 15px 0;
    }
    footer img{
        height: 60px;
        width: auto;
        display: block;
    }

    footer nav ul li a {
        text-align: left;
        font-size: 1.5rem;
        text-decoration: none;
        color: #b5b5b5;
        vertical-align: top;
        line-height: 30px;
    }

    footer nav ul li a:hover {
        color: #8dc53e;
    }

    footer nav.icons-menu ul li {
        display: inline-block;
        padding: 10px 0;
        width: 24%;
    }

    footer nav.icons-menu ul li a {
        font-size: 2.5rem;
    }

}
