main, main section {
    width: 100%;
    padding: 0;
    margin: 0;
    font-size: 0;
}

.portfolio-image {
    width: 50%;
    height: 50vw;
    display: inline-block;
    padding: 0;
    margin: 0;
}
.portfolio-image a {
    padding: 0;
    margin: 0;
    display: block;
    font-size: 0;
    width: 100%;
    height: 100%;
    background: no-repeat center;
    background-size: 250%;
    transition: 0.2s all;
}
.portfolio-image a:hover {
    background-size: 300%;
}

#wondr{background-image: url('../assets/img/portfolio/wondr.jpg')}
#playinglynch{background-image: url('../assets/img/portfolio/playinglynch.jpg')}
#tomerlerner{background-image: url('../assets/img/portfolio/tomerlerner.jpg')}
#rimmel{background-image: url('../assets/img/portfolio/rimmel.jpg')}
#creativewallonia{background-image: url('../assets/img/portfolio/creativewallonia.jpg')}
#linealight{background-image: url('../assets/img/portfolio/linealight.jpg')}
#tattoos{background-image: url('../assets/img/portfolio/tattoos.jpg')}
#knittingwool{background-image: url('../assets/img/portfolio/knittingwool.jpg')}
#xofestival{background-image: url('../assets/img/portfolio/xofestival.jpg')}
#timepot{background-image: url('../assets/img/portfolio/timepot.jpg')}
#colortheory{background-image: url('../assets/img/portfolio/colortheory.jpg')}
#kitchensubereats{background-image: url('../assets/img/portfolio/kitchensubereats.jpg')}

@media (min-width: 1141px) {
    .portfolio-image {
        width: 25%;
        height: 25vw;
        display: inline-block;
        padding: 0;
        margin: 0;
    }
}
